doctype html
html
	head
		title= title
		link(href="./styles/style.css", rel="stylesheet")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js")
		
		script(src="./javascripts/twgl.min.js")
	body
		block content
	